*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: max(100px,20vw);
    margin: 10px;
}
header{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    position: fixed;
    height: 50px;
}
h1{
    color: orange;
    font-size: min(5vw,3em);
}
nav{
    width: 50%;
    max-width: 200px;
    padding: 10px;
}
nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav>ul>li{
    display: block;
    
}
li>a{
    text-decoration: none;
    color: aliceblue;
}
li>a:hover{
    color: black;
    background-color: aliceblue;
}
form{
    padding-top: 50px;
}
section{
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
}
h2{
    
    border-bottom: 4px solid rgb(169, 166, 166);
}
.infor{
    margin: 10px;
}
.infor label, .infor input{
    display: inline-block;
}
.infor label{
    text-align: left;
    width: 10%;
}
.infor input{
    text-align: right;
    width: 50%;
}
.block{
    margin: 25px 0;
}
fieldset{
    border: none;
    margin: 30px 10px;
}
legend{
    font-size: 20px;
}
legend::before{
    content: "Question #";
    font-size:20px;
}
fieldset ul{
    list-style-type: none;
    padding: 15px 0;
}
.css-block{
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
}
#choose{
    width: 70%;
}
button{
   display: block;
   margin: 0 auto 20px auto;
   font-size: 20px;
   padding: 10px 30px;
   border: 2px solid black;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
}